<div class="container">
  <nz-descriptions nzTitle="User Info">
    <nz-descriptions-item nzTitle="Name">{{
      userInfo.name
    }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Username">{{
      userInfo.username
    }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="E-mail">{{
      userInfo.email
    }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Phone">{{
      userInfo.phone
    }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Website">{{
      userInfo.website
    }}</nz-descriptions-item>
  </nz-descriptions>
</div>
